*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  height: 536px;
  display: grid;
  grid-template-columns: 711px 399px;
  justify-content: center;
  align-items: end;
  gap: 32px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  outline: none;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline-color: #fff;
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
}

.search-form__textfield {
  width: 100%;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px 0;
  outline: none;
  color: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
}

.search-form__label-text {
  display: block;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button {
  width: 100%;
  height: 34px;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-color: #fff;
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.95;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 298px;
  overflow: hidden scroll;
  scrollbar-gutter: stable;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline-color: #fff;
  outline-width: 1px;
  outline-offset: 0;
  outline-style: solid;
}

.content__card-link_current {
  background-color: rgb(84, 80, 80);
}

.content__video-card {
  width: 99.5%;
  display: flex;
  min-height: 107px;
}

.content__video-card:active {
  background-color: rgb(84, 80, 80);
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  flex-basis: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding-left: 2px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  align-self: center;
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: 98%;
  margin-bottom: 3px;
  margin-left: 3px;
}
